/* Use Google-hosted CMU Serif */
@import url('https://fonts.googleapis.com/css2?family=CMU+Serif&display=swap');

body {
    font-family: 'CMU Serif', serif;
    font-size: 15px;
}

.table {
    width: 35%;
}
